* {
  box-sizing: border-box;
}

body{
    background-color: hsl(218, 23%, 16%);
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    color: hsl(193, 38%, 86%)
}

footer p {
  font-size: 11px;
}

.card{
    background-color: hsl(217, 19%, 24%);
}

.card-title {
  font-size: 14px;
  color: hsl(150, 100%, 66%);
  letter-spacing: 5px;
  font-weight: bold;
}

#button{
  background-color: hsl(150, 100%, 66%)
}

#button:hover{
  background-color: hsl(150, 100%, 66%);
  box-shadow: 0 5px 15px hsl(150, 100%, 66%);
  transition: 0.7s;
  border-color: hsl(150, 100%, 66%);
}

@media screen and (min-width: 992px) {
  .divider {
    content:url("/images/pattern-divider-desktop.svg")
  }
}

@media screen and (min-width: 768px) {
  .card{
    width: 75%;
  }
}

@media screen and (min-width: 991px){
  .card{
    width: 50%;
  }
}
    
